[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = This is a repository for learning Gerrit
[access "refs/*"]
	owner = group user/CohenAviad
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/CohenAviad
	label-Verified = -1..+1 group user/CohenAviad
	push = group user/CohenAviad
	read = group user/CohenAviad
	rebase = group user/CohenAviad
	removeReviewer = group user/CohenAviad
	submit = group user/CohenAviad
[access "refs/heads/*"]
	create = group user/CohenAviad
	push = +force group user/CohenAviad
	pushMerge = group user/CohenAviad
	read = group user/CohenAviad
[access "refs/tags/*"]
	push = group user/CohenAviad
	push = +force group user/CohenAviad
